.main{
  max-width: 100%;
  margin: 0 auto;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}
.login-form .row
{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.2rem;
}
.errmsg{
  text-align: center;
  color: red;
  font-weight: bold;
}
.offscreen{
  display: none;
}



